{% extends 'category_tarif/base.html.twig' %}

{% block title %}CategoryVirtual{% endblock %}

{% block body %}
    <h1>CategoryVirtual</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category_virtual.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ category_virtual.nom }}</td>
            </tr>
        </tbody>
    </table>

    <div class="pl-5">
        <div class="pb-2 w-75">
            <a href="{{ path('category_virtual_edit', {'id': category_virtual.id}) }}" class="btn btn-primary">Modifer</a>
        </div>
        <div>
            {{ include('category_virtual/_delete_form.html.twig') }}
        </div>
    </div>
    <hr>
    <div class="p-3">
        <a href="{{ path('category_virtual_index') }}" class="btn btn-primary">Retour</a>
    </div>

{% endblock %}
