{% extends 'base.html.twig' %}

{% block title %}Virtual{% endblock %}
{% block body %}
    <h1>Jeux VR</h1>

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3>{{ virtual.nom }}</h3>
            </div>
            <div class=" mx-auto">
                <img src="{{ asset(virtual.image) }}" alt="{{ virtual.nom }}" width="100">
            </div>
            <div class="col-12">
                <p> {{ virtual.description }} </p>
            </div>
        </div>
        <div class="col-12 text-center">
            <a href="{{ path('virtual_edit', {'id': virtual.id}) }}">edit</a>
            {{ include('virtual/_delete_form.html.twig') }}
            <a href="{{ path('virtual_index') }}">back to list</a>
        </div>
    </div>



{% endblock %}
