{% extends 'category_tarif/base.html.twig' %}

{% block title %}Virtual{% endblock %}
{% block body %}
    <h1>Jeux VR</h1>

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3>{{ virtual.nom }}</h3>
            </div>
            <div class="col-12">
                <p> {{ virtual.category.nom }} </p>
            </div>
            <div class=" mx-auto">
                <img src="{{ asset(virtual.image) }}" alt="{{ virtual.nom }}" width="100">
            </div>
            <div class="col-12">
                <p> {{ virtual.description }} </p>
            </div>

        </div>

    <div class="pl-5">
        <div class="pb-2 w-75">
            <a href="{{ path('virtual_edit', {'id': virtual.id}) }}" class="btn btn-primary">Modifer</a>
        </div>
        <div>
            {{ include('virtual/_delete_form.html.twig') }}
        </div>
    </div>
    <hr>
    <div class="p-3">
        <a href="{{ path('virtual_index') }}" class="btn btn-primary">Retour</a>
    </div>
        


{% endblock %}
