{% extends 'realitevirtuelle/base.html.twig' %}
{% block title %}Jeux VR - Le Complexe{% endblock %}

{% block body %}
<main class="bg-primary vrpage">

    <div class="header-vr d-flex align-items-center justify-content-center">
        <div class=" mx-auto w-100 bg-title-vr">
            <h1 class="text-white text-center p-3 display-4"> Réalité Virtuelle </h1>
            <p class="text-white text-center p-3 vrsubtitle h3 font-weight-light"> Vivre de nouvelles expériences </p>
        </div>
    </div>

    <div class="body-laser text bg-primary  container-fluid">
        <div class="bg-primary py-5">
            <h2 class="mt-5 text-center text-white titlecatvr sdw"> {{ category.nom }} </h2>
            <div class="row">
                {% for jeu in jeux %}
                    <div class="col-sm-10 col-md-10 col-lg-5 col-xl-5 text-center  mt-5 mx-auto sdw">
                        <div class="card text-light titlecatvr mb-3 {% if loop.first %} {% endif %}">
                            <h3 class="card-header">{{ jeu.nom }}</h3>
                            <div class="card-body">
                                <h5 class="card-title"> {{ jeu.category.nom }}</h5>
                                <div class="">
                                    <img src="{{ asset(jeu.image) }}" alt="{{ jeu.category.nom }}" style="height:270px;"  class="img-fluid rounded">
                                </div>
                            </div>
                            <div>
                                <a href="{{ url('jeuVR', {id: jeu.id}) }}" class=" btn text-light">En savoir plus &rarr;</a>
                            </div>
                        </div>
                    </div>
                    
                {% endfor %}
            </div>
            <div class="row pt-5">
                <div class="col-3">
                    <a class="text-white card-link btn titlecatvr sdw rounded text-light" href="{{ path('allcategoryVR') }}">Retour</a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}