{% extends 'lasergame/base.html.twig' %}
{% block title %}Catégories des jeux VR - Le Complexe{% endblock %}

{% block body %}
<main class="bg-primary">
<div class="header-laser d-flex align-items-center justify-content-center">
    <div class=" mx-auto w-100 bg-title-laser text-center">
        <h1 class="text-white p-3 display-4">Laser Game Arena</h1>
        <h3 class="lasersubtitle text-danger"></h3>
        <p class="lasersubtitle h3 text-white p-3 font-weight-light">En famille ou entre amis</p>
    </div>
</div>

<div class="body-laser text bg-primary  container-fluid">
    <div class="bg-primary py-5">
        <h2 class="card-header bibo3 sdw my-5 text-center text-white">{{ category.nom }}</h2>
        <div class="row py-5">
            
            {% for tarif in tarifs %}
            
                <!-- nos formules (changer l'id) -->
                {% if tarif.category.id == 2 %} 
                    <div class="col-5 text-center mt-5 mx-auto">
                        <div class="card bibo3 text-white sdw{% if loop.first %}{% endif %}">
                            <h3 class="card-header">{{ tarif.nom }}</h3>
                            <div class="card-body">
                                <p class="font-italic"> {{tarif.description}} </p>
                                <p class="h5 card-title">{{ tarif.prix1 }} / Personne</p>
                            </div>
                        </div>
                    </div>

                <!-- nos tarifs (changer l'id) -->
                {% elseif tarif.category.id == 1 %}
                    <div class="col-10 col-sm-10 col-md-10 col-lg-5 col-xl-5 text-center mt-5 mx-auto">
                        <div class="card bibo3 text-white sdw{% if loop.first %}{% endif %}">
                            <h3 class="card-header">{{ tarif.nom }}</h3>
                            <div class="card-body">
                                <h5 class="card-title"> 1 partie : {{ tarif.prix1 }}</h5>
                                <h5 class="card-title"> 2 parties : {{ tarif.prix2 }}</h5>
                                <h5 class="card-title"> 3 parties : {{ tarif.prix3 }}</h5>
                            </div>
                        </div>
                    </div>
                {% endif %}

            {% endfor %}

            </div>
            <div class="row py-5 bg-primary">
                <div class="col-3">
                    <a class="card-link btn bibo3 sdw rounded text-light" href="{{ path('allcategorytarif') }}">Retour</a>
                </div>
            </div>
        </div>
    </div>
</div>
</main>

{% endblock %}