{% extends 'lasergame/base.html.twig' %}
{% block title %}Catégories des jeux VR - Le Complexe{% endblock %}

{% block body %}
<main class="bg-primary">
<div class="header-laser d-flex align-items-center justify-content-center">
            <div class=" mx-auto w-100 bg-title-laser text-center">
                <h1 class="lasertitle text-white p-3">Laser Game Arena</h1>
                <h3 class="lasersubtitle text-danger"></h3>
                <p class="lasersubtitle h3 text-white p-3 font-weight-light">En famille ou entre amis</p>
            </div>
        </div>
    <h2 class="mt-5 text-center text-white"> {{ category.nom }} </h2>
    <div class="row">
        {% for tarif in tarifs %}
        {% if tarif.category.id == 4 %} 
            <div class="col-4 text-center mt-5 mx-auto">
                <div class="card mb-3 {% if loop.first %} bg-secondary{% endif %}">
                    <h3 class="card-header">{{ tarif.nom }}</h3>
                    <div class="card-body">
                        <p> {{tarif.description}} </p>
                        <h5 class="card-title"> Par personne : {{ tarif.prix1 }} €</h5>
                    </div>
                    <div class="card-body">
                    </div>
                </div>
            </div>

            {% elseif tarif.category.id == 3 %}
            <div class="col-4 text-center mt-5 mx-auto">
                <div class="card mb-3 {% if loop.first %} bg-secondary{% endif %}">
                    <h3 class="card-header">{{ tarif.nom }}</h3>
                    <div class="card-body">
                        <h5 class="card-title"> 1 partie : {{ tarif.prix1 }} €</h5>
                        <h5 class="card-title"> 2 parties : {{ tarif.prix2 }} €</h5>
                        <h5 class="card-title"> 3 parties : {{ tarif.prix3 }} €</h5>
                    </div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-3">
            <a class="text-white" href="{{ path('allcategorytarif') }}">Retour à la liste des catégories</a>
        </div>
    </div>

</main>

{% endblock %}