{% extends 'category_tarif/base.html.twig' %}

{% block title %}CategoryMenu index{% endblock %}

{% block body %}
    <div class="pt-2 mt-2">
        <h2 class="pt-5 mt-5 text-center ">Liste des categories de menus</h2>
    </div>

    <table class="table">
        <thead>
            <tr  class="bg-primary text-white">
                <th>Id</th>
                <th>Nom</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category_menu in category_menus %}
            <tr>
                <td>{{ category_menu.id }}</td>
                <td>{{ category_menu.nom }}</td>
                <td>{{ category_menu.image }}</td>
                <td>
                    {# <a href="{{ path('category_menu_show', {'id': category_menu.id}) }}">show</a> #}
                    <a href="{{ path('category_menu_edit', {'id': category_menu.id}) }}" class="btn btn-primary text-white">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="p-3">
    <a href="{{ path('category_menu_new') }}" class="btn btn-primary text-white">Nouveau</a>
    </div>
{% endblock %}
