{% extends 'base.html.twig' %}
{% block title %}Menu Restaurants- Le Complexe{% endblock %}

{% block body %}
<main>
    <h2 class="mt-5 text-center text-primary"> {{ category.nom }} </h2>
    <div class="row">
        {% for menu in menus %}
            <div class="col-4 text-center mt-5 mx-auto">
                <div class="card mb-3 {% if loop.first %} bg-secondary{% endif %}">
                    <h3 class="card-header">{{ menu.nom }}</h3>
                    <div class="card-body">
                        <img src="{{ asset(menu.image) }}" alt="{{ menu.nom }}" width="100">
                    </div>
                    <div class="card-body">
                        <p> {{menu.description}}</p>
                        <h3> {{menu.prix}}</p>
                    </div>
                </div>
            </div>
            
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-3">
            <a class="text-white" href="{{ path('allcategoryMenu') }}">Retour à la liste des catégories</a>
        </div>
    </div>

</main>

{% endblock %}