<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">

        <!-- Meta Description -->

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Aldrich&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="icon" href="../img/code.png" />
        
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <a class="navbar-brand" href="{{ path('homepage') }}">Le Complexe</a>
            <button class="navbar-toggler collapsed" onclick="dynamicNav()" type="button" data-toggle="collapse"
                data-target="#NavBarHamburger" aria-controls="NavBarHamburger" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="NavBarHamburger">
                <ul class="navbar-nav ml-auto">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin Restaurant</a>
                        <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="dynamicNav()" href="{{path('restaurant')}}">Restaurant<span class="sr-only">(current)</span></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('menu_index') }}">Liste des menus</a>
                        <a class="dropdown-item" href="{{ path('menu_new') }}">Nouveau menu</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('category_menu_index') }}">Liste des catégories</a>
                        <a class="dropdown-item" href="{{ path('category_menu_new') }}">Nouvelle catégorie</a>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" onclick="dynamicNav()" href="{{path('restaurant')}}"><img src="img/burger.svg" height="30px" width="30px" color="white">Restaurant<span class="sr-only">(current)</span></a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin Laser Game</a>
                        <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="dynamicNav()" href="{{path('lasergame')}}">Laser Game<span class="sr-only">(current)</span></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('tarif_index') }}">Liste des tarifs</a>
                        <a class="dropdown-item" href="{{ path('tarif_new') }}">Nouveau tarif</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('category_tarif_index') }}">Liste des catégories</a>
                        <a class="dropdown-item" href="{{ path('category_tarif_new') }}">Nouvelle catégorie</a>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" onclick="dynamicNav()" href="{{path('lasergame')}}">Laser Game<span class="sr-only">(current)</span></a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin Réalité Virtuelle</a>
                        <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="dynamicNav()" href="{{path('realitevirtuelle')}}">Réalité Virtuelle<span class="sr-only">(current)</span></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('virtual_index') }}">Liste des jeux</a>
                        <a class="dropdown-item" href="{{ path('virtual_new') }}">Nouveau jeu</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('category_virtual_index') }}">Liste des catégories</a>
                        <a class="dropdown-item" href="{{ path('category_virtual_new') }}">Nouvelle catégorie</a>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" onclick="dynamicNav()" href="{{path('realitevirtuelle')}}">Réalité Virtuelle<span class="sr-only">(current)</span></a>
                    </li>
                    {% endif %}

                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" onclick="dynamicNav()" href="{{ path('app_logout') }}"><i class="h4 text-danger fas fa-power-off"></i>
                            <span class="sr-only">(current)</span></a>
                    </li>

                    {% endif %}
                </ul>
                <i class="fas fa-times float-right mr-3 iconb text-danger d-lg-none" onclick="dynamicNav()"></i>
            </div>
        </nav>
        <div class="project-bg">
        {% include 'partials/header.html.twig' %}
        
        {% block body %}{% endblock %}

        {% include 'partials/footer.html.twig' %}
        
        <script src="/js/script.js"></script>
        {% block javascripts %}{% endblock %}
        </div>
    </body>        
</html>