{% extends 'base.html.twig' %}

{% block title %}Hello ComplexeController!{% endblock %}

{% block body %}


<div>
<h1>{{ page.title }}</h1>
<p>{{ page.content }}</p>
<img src="{{ asset('images/page/'~ page.imageName )  }}" alt="{{ page.title }}" class="w-50">

{% if page.tags is not empty %}
{% for tag in page.tags %}
    <a class="btn btn-primary" href="{#{{path('nom_route_show_tag', {id: tag.id })}}#}">{{tag.title}}</a>
    {% endfor %}
{% endif %}
</div>
{% endblock %}

        {% block stylesheets %}
        {% if page.slug == 'restaurant' %}
        <link href="{{ asset('css/style_restaurant.css' )  }}" rel="stylesheet">
        {% elseif page.slug == 'laser-game'%}
        <link href="{{ asset('css/style_laser-game.css' )  }}" rel="stylesheet">
        {% elseif page.slug == 'realite-virtuelle'%}
        <link href="{{ asset('css/style_realitevirtuelle.css' )  }}" rel="stylesheet">
        {% endif %}
        {% endblock %}
