{% extends 'category_tarif/base.html.twig' %}

{% block title %}Menu index{% endblock %}

{% block body %}
    <div class="pt-2 mt-2">
        <h2 class="pt-5 mt-5 text-center ">Liste des menus</h2>
    </div>

    <table class="table">
        <thead>
            <tr  class="bg-primary text-white">
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Image</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.id }}</td>
                <td>{{ menu.nom }}</td>
                <td>{{ menu.description }}</td>
                <td>{{ menu.image }}</td>
                <td>{{ menu.prix }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('menu_show', {'id': menu.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('menu_edit', {'id': menu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <div class="p-3"> 
        <a href="{{ path('menu_new') }}" class="btn btn-primary text-white">Nouveau</a>
    </div>
{% endblock %}
